@import "./../../variables.scss";

.career_container_header{
    width: 100%;
    height: auto;
    background-color: $color-background-spacer;
}

.career_container_header_divImg{
    width: 100%;
}
.career_container_header_div_imgCircle{
    float: right;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.career_container_header_div{
    width: 100%;
    height: auto;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 100px;
    padding-bottom: 200px;
}

.career_container_header_div_h1{
    color: #FFFFFF;
    font-size: 100px;
    margin-bottom: 25px;
}

.career_container_header_div_h3{
    color: #F9C216;
    font-size: 40px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}


/*--MediaQueries--*/
@media (max-width:1366px) {
    .career_container_header_div{
        padding-top: 80px;
        padding-bottom: 200px;
    }
    .career_container_header_div_h1{
        font-size: 70px;
    }
}

@media (max-width:840px) {
    .career_container_header_div{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width:700px) {
    .career_container_header_div{
        padding-top: 20px;
    }
    .career_container_header_div_h1{
        font-size: 50px;
    }
    .career_container_header_div_imgCircle{
        width: 90px;
    }
}

@media (max-width:600px) {
    .career_container_header_div_imgCircle{
        display: none;
    }
}

@media (max-width:500px) {
    .career_container_header_div{
        padding-left: 50px;
        padding-right: 50px;
    }
    .career_container_header_div_h1{
        font-size: 40px;
    }
}

@media (max-width:1920px) {
    .career_container_header_divImg{
        width: 100%;
        height: auto;
    }
    .career_container_header_div_img{
        max-width: 100%;
        height: auto;
        min-height: 350px;
    }
}