@import "./../../variables.scss";

.career_spacer{
    width: 100%;
    height: auto;
    background-color: $color-background-spacer;
    color: #FFFFFF;
    text-align: justify;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 278px;
    padding-right: 278px;
}

.career_spacer_h2{
    opacity: 100%;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.career_spacer_span{
    color: $color-text-span;
}

.career_spacer_section1{
    width: 100%;
    height: auto;
    background-color: $color-background-spacer;
    color: #FFFFFF;
    text-align: justify;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 278px;
    padding-right: 278px;
}

.career_spacer_section1_h2{
    opacity: 100%;
    font-size: 50px;
}

.career_spacer_section1_span{
    color: $color-text-span;
}

@media (max-width:800px) {
    .career_spacer_h2{
        font-size: 35px;
    }
}


/*--MediaQueries--*/

@media (max-width:1630px) {
    .career_spacer{
        padding-left: 190px;
        padding-right: 190px;
    }
    .career_spacer_section1{
        padding-left: 190px;
        padding-right: 190px;
    }
}

@media (max-width:1480px) {
    .career_spacer{
        padding-left: 180px;
        padding-right: 180px;
    }
    .career_spacer_section1{
        padding-left: 180px;
        padding-right: 180px;
    }
}

@media (max-width:1366px) {
    .career_spacer{
        padding-left: 150px;
        padding-right: 150px;
    }
    .career_spacer_section1{
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media (max-width:1160px) {
    .career_spacer{
        padding-left: 130px;
        padding-right: 130px;
    }
    .career_spacer_section1{
        padding-left: 130px;
        padding-right: 130px;
    }
}

@media (max-width:850px) {
    .career_spacer{
        padding-left: 100px;
        padding-right: 100px;
    }
    .career_spacer_section1{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width:800px) {
    .career_spacer_h2{
        font-size: 35px;
    }
}

@media (max-width:680px) {
    .career_spacer{
        padding-left: 80px;
        padding-right: 80px;
        text-align: center;
    }
    .career_spacer_section1{
        padding-left: 80px;
        padding-right: 80px;
        text-align: center;
    }
}

@media (max-width:500px) {
    .career_spacer{
        padding-left: 40px;
        padding-right: 40px;
    }
    .career_spacer_h2{
        font-size: 30px;
    }
}