@import "./../../variables.scss";
@import "./../../base/_typography.scss";

//carrousel font size
$carrousel-title_size:43;
$carrousel-text_size:20;

.section2{
    height: auto;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    margin-top: calculate-size(150);
    margin-bottom: calculate-size(150);
    padding-left: calculate-size(98); 
    padding-right: calculate-size(161); 
}

.section2_divText{
    width: 55%;
    height: 100%;
    padding-right: 5%;
    padding-left: 6%;
    float: left;
}

.section2_divText h3{
    margin-top: 20%;
    margin-bottom: calculate-size(40);
    font-size: calculate-size($carrousel-title_size);
    color: #343D3F;
}

.section2_subtitle{
    font-size: $carrousel-title_size;
    margin-top: 20%;
    color: #343D3F;
}

.text-paddingTop{
    padding-top: 100px;
}

.section2_img{
    width: 45%;
    height: 95%;
    float: right;
}

.section2_divText p{
    font-size: $carrousel-text_size;
    color: #343D3F;
}

.section2_icons_divs{
    margin: calculate-size(5);
    z-index: 5;
}

.section1_icons_divs{
    margin: calculate-size(13);
    z-index: 5;
}

.arrow_line_section2{
    opacity: 1;
    text-align: center;
}

.arrow_transform{
    transform: rotateY(180deg);
}

.section1_button{
    margin-top: 50px;
}

.carrusel {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.diapositiva_carrucel2{
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.diapositiva_carrucel2:first-child {
    display: block;
}

.diapositiva_carrucel1{
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    display: none;
}

.diapositiva_carrucel1:first-child {
    display: block;
}

.boton2-anterior, .boton2-siguiente {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.boton2-anterior {
    transform: rotate(180deg);
}

.carousel-padding{
    margin-top: 150px;
    margin-bottom: 350px;
    padding-right: 0%;
}

.img_height{
    height: 100%;
}


@media (max-width: 1150px) {
    .section2_subtitle{
        margin-top: 0%;
    }
    .section2{
        padding-bottom: calculate-size(300);
    }
}

@media (max-width: 950px) {
    .section2_divText h3{
        font-size: 30px;
    }
    .section2_img{
        display: none;
    }
    .section2_divText{
        width: 100%;
        margin-right: 0%;
        padding-right: 0%;
    }
    .section2{
        padding-bottom: calculate-size(150);
    }
}

@media (max-width: 870px) {
    .section2{
        padding-bottom: calculate-size(300);
    }
}

@media (max-width: 800px) {
    .section2{
        padding-bottom: 500px;
    }
}

@media (max-width: 583px) {
    .text-paddingTop{
        padding-top: 0%;
    }
}

@media (max-width: 550px) {
    .section2{
        padding-left: calculate-size(150); 
    }
}

@media (max-width: 475px) {
    .carousel-padding{
        margin-bottom: 500px;
    }
}

@media (max-width: 470px) {
    .text-paddingTop p{
        font-size: 18px;
    }
}

@media (max-width: 430px) {
    .section2 p{
        font-size: 18px;
    }
}





