@import "./_buttons";
@import "./_header";
@import "./_headerNavigation";
@import "./_spacer";
@import "./_carrousel";
@import "./_carrousel_big";
@import "./_clients";
@import "./card_clients";
@import "./_teamSection";
@import "./_finalSection";
@import "./_footer";
@import "./_mediaQueries";